body {
    font-family: sans-serif;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.instructions {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    animation: slide-in 1s ease-out forwards;
    margin-bottom: 50px;
    margin-top: 20px;
}

.instructions h1 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
    font-size: 2em;
}

.container {
    display: flex;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    perspective: 1000px;
    position: relative;
    animation: slide-in 1s ease-out forwards;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    border-radius: 5px;
    border: 2px solid black;
}

.inner-card {
    width: 6cm;
    height: 9cm;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    margin-bottom: 20px;
    animation: slide-in 1s ease-out forwards;
}

.inner-card div {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 48px;
    text-align: center;
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 2px;
}

.front {
    background-color: #fff;
    color: black;
}

.back {
    background-color: #fff;
    color: black;
    transform: rotateY(180deg);
}

.card.flipped .inner-card {
    transform: rotateY(180deg);
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #09011b;
    color: white;
    border: none;
    border-radius: 5px;
    animation: slide-in 1s ease-out forwards;
}

button:hover {
    background-color: #061107;
}

.arrow {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
    background-color: #131b0c;
    color: white;
    border-radius: 50%;
    animation: slide-in 1s ease-out forwards;
}

.arrow:hover {
    background-color: #1f1e7e;
}

.sign-image {
    width: 60px;
    height: 60px;
    margin-top: 10px;
}

.blue { color: blue; }
.orange { color: orange; }

@keyframes slide-in {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (min-width: 768px) {
    body {
        padding: 0 20px;
    }
    .instructions {
        max-width: 700px;
    }
    .container {
        flex-direction: row;
    }
    .card {
        flex-basis: calc(33.33% - 20px);
        margin: 10px;
    }
}

@media (max-width: 767px) {
    body {
        padding: 0 10px;
        height: auto;
        width: auto;
    }
    .instructions {
        max-width: 100%;
        margin: 0 auto;
    }
    .container {
        flex-direction: column;
    }
    .card {
        flex-basis: auto;
        margin: 10px 0;
        width: 90%;
        height: 60%;
        width: 80vw;
        height: 30vh;
    }
}

.sign-language-image {
    width: 120px;
    height: 100px; 
    object-fit: cover; 
    margin: 0 auto; 
    display: block; 
}
